<div class="row tracklisting">
  <ul style="list-style-type: none;">
    <li style="display:block; line-height:30px;" *ngfor track: albumInfo?.album.tracks>
      <div class="col-sm-5">
        <span class="track-number">{{track.track-number}}}</span>
        <span class="track-name">{{track.track-name}}</span>
      </div>
      <div class="col-sm-3 text-right">
        <span class="track-time">{{track.track-time}}</span>
        <span class="price-and-buy"><button style="line-height: 1;">9.99$</button></span>
      </div>
    </li>
  </ul>
</div>